@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.c-button--primary {
	display: inline-block;
	background-color: #fff;
	border: 2px solid;
	border-color: #707070;
	width: 350px;
	height: 80px;
	text-align: center;
	display: flex;
	color: black;
	text-decoration: none;
	cursor: pointer;
	.c-button--primary--text {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 30px;
		font-size: 16px;
		@include mixin.font-yumincho;
		font-weight: bold;
	}
	&:hover {
		background-color: #270b0b;
		color: white;
		.c-button--primary--line {
			color: #fff;
			&::before {
				background-color: #fff;
			}
			&::after {
				background-color: #fff;
			}
		}
	}
	.c-button--primary--line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin: 0 auto;
		padding: 30px 20px;
		width: 350px;
		color: black;
		font-size: 18px;
		font-weight: 700;
		transition: 0.3s;
		text-decoration: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0.8em;
			transform: translateY(calc(-50% - 2px)) rotate(40deg);
			width: 32px;
			height: 2px;
			background-color: #707070;
		}
		&:hover::before {
			background-color: #fff;
		}
		&::after {
			content: "";
			position: absolute;
			top: 60%;
			right: 1em;
			transform: translateY(-50%);
			width: 193px;
			height: 2px;
			background-color: #707070;
		}
		&:hover::after {
			background-color: #fff;
		}
	}
}

#p-ripples--effect {
	/*波紋の基点とするためrelativeを指定*/
	position: relative;
	/*はみ出す波紋を隠す*/
	overflow: hidden;
	&:hover {
		color: #fff;
	}
	&::after {
		content: "";
		/*絶対配置で波紋位置を決める*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		/*波紋の形状*/
		background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat
			50%;
		transform: scale(10, 10);
		/*はじめは透過0に*/
		opacity: 0;
		color: #fff;
		/*アニメーションの設定*/
		transition: transform 0.3s, opacity 1s;
	}
	&:active::after {
		transform: scale(0, 0);
		transition: 0s;
		opacity: 0.3;
	}
}

.c-button--sns {
	font-family: "Georgia", sans-serif;
	display: inline-block;
	position: relative;
	width: 124px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #444;
	color: #fff !important;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
	.fab {
		height: 10px;
	}
	/* YouTubeマウスホバー時 */
	&--youtube {
		@extend .c-button--sns;
		&:hover {
			background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
		}
	}
	/* Instagramマウスホバー時 */
	&--insta {
		@extend .c-button--sns;
		&:hover {
			background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
				no-repeat;
			background: linear-gradient(135deg, #427eff 0%, #f13f79 70%)
				no-repeat;
		}
	}
}

.c-button--direction__top {
	background-color: #fff;
	border: none;
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	background: #270b0b;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	&::before {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f062";
		font-size: 25px;
		color: #fff;
	}
}
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.c-open--button {
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background: #270b0b;
	cursor: pointer;
	width: 120px;
	height: 120px;
	border: 2px solid #333;
	border-radius: 50%;
}

/*ボタン内側*/

.c-open--button .c-open--button--area {
	transition: all 0.4s;
}

.c-open--button span {
	display: inline-block;
	transition: all 0.4s; /*アニメーションの設定*/
	position: absolute;
	left: 30px;
	top: 50;
	height: 3px;
	border-radius: 2px;
	background: #fff;
	width: 55%;
	transform: translateY(6px) rotate(-160deg);
}

.c-open--button span:nth-of-type(1) {
	top: 30px;
}

.c-open--button span:nth-of-type(2) {
	top: 50px;
}

.c-open--button span:nth-of-type(3) {
	top: 70px;
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/

.c-open--button.active .c-open--button--area {
	transform: rotateY(-360deg);
}

.c-open--button.active span:nth-of-type(1) {
	top: 50px;
	left: 25px;
	transform: translateY(6px) rotate(-135deg);
	width: 60%;
}

.c-open--button.active span:nth-of-type(2) {
	opacity: 0;
}

.c-open--button.active span:nth-of-type(3) {
	top: 60px;
	left: 25px;
	transform: translateY(-6px) rotate(135deg);
	width: 60%;
}

.c-tab {
	display: inline-block;
	background-color: #fff;
	text-decoration: none;
	color: black;
	border: 2px solid #e0d7ca;
	border-radius: 30px;
	padding: 8px 10px;
	text-align: center;
	cursor: pointer;
}

.c-button--mix {
	width: 223px;
	height: 60px;
	display: inline-block;
	background-color: #fff;
	color: black;
	line-height: 55px;
	border: solid #707070;
	cursor: pointer;
	text-decoration: none;
	&--before {
		@extend .c-button--mix;
		text-align: left;
		padding-left: 44px;
	}
	&--after {
		@extend .c-button--mix;
		text-align: right;
		i {
			margin-right: 20px;
		}
	}
}

.c-button--inquiry--menu-inner {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 8px 10px;
	text-align: center;
	cursor: pointer;
}
