@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.c-title{
    position       : relative;
    @include mixin.font-yumincho;
    font-size      : variable.$font-size--title-large--pc;
    color          : variable.$font-color--main;
    width          : 100%;
    padding-bottom : 10px;
    /* レスポンシブ（タイトルとの余白） */
    @include mixin.breakpoint( breakpoint-tab ){
        padding-bottom: 20px;
    }
    @include mixin.breakpoint( breakpoint-sp ){
        padding-bottom: 15px;
    }
    border-bottom  : solid 4px variable.$border-color--main;   // 線種、太さ、色

    /* Englishタイトル */
    &--header{
        @extend .c-title;
        &::before{
            content       : attr(title-english);    // アトリビュート
            display       : block;
            font-size     : variable.$font-size--title-large--header--pc;
            margin-bottom : 50px;       // タイトルとの余白
        }
    }
    /* 罫線のアクセントカラー設定 */
    &::after{
        content       : "";
        position      : absolute;
        display       : block;
        border-bottom : solid 4px variable.$border-color--accent;   // 線種、太さ、色
        width         : 42px;
        padding-top   : 10px;   // タイトルとの余白
        /* レスポンシブ（タイトルとの余白） */
        @include mixin.breakpoint( breakpoint-tab ){
            padding-top: 20px;
        }
        @include mixin.breakpoint( breakpoint-sp ){
            padding-top: 15px;
        }
    }
}

.c-title-large {
    position        : relative;
    @include mixin.font-yumincho;
    font-size       : variable.$font-size--title-large--pc;
    color           : variable.$font-color--main;
    width           : 100%;
    padding-bottom  : 46px;
    border-bottom   : solid 4px variable.$border-color--main;
    /* 罫線のアクセントカラー設定 */
    &::after{
        content       : "";
        position      : absolute;
        display       : block;
        border-bottom : solid 4px variable.$border-color--accent;
        width         : 42px;
        padding-top   : 46px;
    }
}

.c-title-small{
    position  : relative;
    @include mixin.font-yumincho;
    font-size : variable.$font-size--title-small--pc;
    color     : variable.$font-color--main;
    /* 罫線 */
    &::after{
        content       : "";
        display       : block;
        border-bottom : solid 3px variable.$border-color--main;
        width         : 80px;       // 線の長さ
        margin-top    : 44px;       // タイトルとの余白
    }
}

.c-title-small--center{
    position   : relative;
    @include mixin.font-yumincho;
    font-size  : variable.$font-size--title-small--pc;
    text-align : center;
    color      : variable.$font-color--sub;
    /* 罫線 */
    &::after{
        content       : "";
        display       : block;
        margin        : auto;
        border-bottom : solid 3px variable.$border-color--main;
        width         : 80px;       // 線の長さ
        margin-top    : 44px;       // タイトルとの余白
    }
}

.c-title-noborder{
    position    : relative;
    font-size   : variable.$font-size--title-noborder--pc;
    font-weight : variable.$font-weight--bold;
    text-align  : center;
    color       : variable.$font-color--third;
}
