@use "../../foundation/base";
@use "../../foundation/mixin";
@use "../../foundation/variable";

.c-definition{
	width: 100%;
	color:variable.$font-color--definiton;

	&__title{
		font-size: variable.$font-size--definiton-term;
		padding-bottom: 30px;
		border-bottom:solid 2px variable.$border-color--definiton-term;
		@include mixin.font-yumincho;
	}
	&__detail{
		display: flex;
		margin-inline-start: 0px;
		border-bottom: solid 1px variable.$border-color--definiton-descripton;
		&__item{
			&:nth-last-child(2){
				width: 15%;
				text-align: center;
			}
			&:nth-child(2){
				width: 85%;
			}
			&:only-child{
				margin-left: 15%;
			}
		}
	}
}
