@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.p-post-card{
	width: 305px;
	height: 353px;
	display: flex;
	flex-direction: column;
	@include mixin.breakpoint( breakpoint-tab ){
		flex-direction: row;
		width: 100%;
		height: 120px;
	}

	&__image{
		width: 100%;
		height: 180px;
		object-fit: cover;
		@include mixin.breakpoint( breakpoint-tab ){
			width: 120px;
			height: 100%;
		}
	}
	&__text{
		width: 100%;
		height: calc(353px - 180px);
		background-color: variable.$background-color--postCard;
		padding:40px 54px 29px 40px;
		@include mixin.breakpoint( breakpoint-tab ){
			width: calc(100% - 120px);
			height: 100%;
			padding: 10px 30px;
		}
		@include mixin.breakpoint( breakpoint-sp ){
			padding: 8px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		&__title{
			font-size: variable.$font-size--postCard-title;
			color:variable.$font-color--postCard-title;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&__sentence{
			font-size: variable.$font-size--postCard-sentence;
			color:variable.$font-color--postCard-sentence;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			@include mixin.breakpoint( breakpoint-sp ){
				display: none;
			}
		}
		&__date{
			font-size: variable.$font-size--postCard-date;
			color:variable.$font-color--postCard-date;
			font-weight: bold;
			@include mixin.breakpoint( breakpoint-tab ){
				display: inline-block;
				margin-top: 9px;
			}
		}
	}
}
